<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.handscanattendance">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HandScanAttendance">

        <!-- Entry Point -->
        <activity android:name="com.example.handscanattendance.view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- Login & Register -->
        <activity android:name=".ui.admin.AdminHomeActivity"/>
        <activity android:name=".ui.auth.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <uses-permission android:name="android.permission.INTERNET"/>


        <!-- Admin Activities -->
        <activity android:name="com.example.handscanattendance.ui.admin.AdminHomeActivity" />
        <activity android:name="com.example.handscanattendance.ui.admin.ScanActivity" />
        <activity android:name="com.example.handscanattendance.ui.admin.JadwalActivity" />
        <activity android:name="com.example.handscanattendance.ui.admin.MataKuliahActivity" />
        <activity android:name="com.example.handscanattendance.ui.admin.DaftarMahasiswaActivity" />
        <activity android:name="com.example.handscanattendance.ui.admin.RiwayatKehadiranActivity" />

        <!-- Mahasiswa Activity -->
        <activity android:name="com.example.handscanattendance.ui.mahasiswa.MahasiswaHomeActivity" />

        <!-- Scan Result -->
        <activity android:name="com.example.handscanattendance.view.ResultActivity" />
    </application>

</manifest>
