<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.handscanattendance">

    <application
        android:name=".MyApplication" <!-- Menunjukkan kelas MyApplication -->
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:theme="@style/Theme.ScanA">
    <!-- Daftar aktivitas dan komponen lainnya -->
    <activity
        android:name=".ui.auth.LoginActivity"
        android:label="Login"
        android:theme="@style/Theme.ScanA">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
</application>
    </manifest>
